body {
    font-family: 'Caveat', cursive;
}


h4 {
  font-weight: 700;
  font-size: 2.6rem;
}


.carte {
  padding: 50px 200px 200px 200px;
  margin-bottom: 13%;
}


.pic-title-bottom {
  margin-top: 150px;
}


.pic-title-bottom p {
  display: inline;
  margin-left: 15px;
}
