td {
  font-size: 2rem;
}


.carte {
  padding: 50px 200px 200px 200px;
  margin-bottom: 13%;
}


.color-orange {
  color: #c67412;
}


.color-pink {
  color: #a56799;
}


.color-purple {
  color: #6e4ccc;
}


.margin-prix {
  margin-left: 90px;
}
