body {
  text-align: center;
  margin: 0 auto;
}


header {
  padding: 1%;
  margin-bottom: 50px;
}


h1 {
  font-size: 4rem;
}


h2 {
  font-size: 3.2rem;
  color: #353535;
}


h3 {
  font-size: 3rem;
}


h4 {
  margin-top: 150px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 2.6rem;
}


p {
  font-size: 3.2rem;
  width: 412px;
}


a {
  text-decoration: none;
  font-size: 4.2rem;
}


table {
  text-align: left;
  line-height: 2;
}


td {
  font-size: 2.5rem;
  font-weight: 400;
}


footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-top: 2px solid #a1c181;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}


.section {
  margin-top: 3.5%;
}


.title {
  margin: 0;
  font-family: Arial, sans-serif;
}


.background {
  background-color: #579c87;
  color: #fdcb46;
}


.carte {
  box-shadow: 0 0 20px #ccc;
  display: inline-block;
  margin: 40px;
  padding: 350px 150px 390px 150px;
}


.fas {
  font-size: 5rem;
}


.la_note_enchantee {
  background-color: #fcdfdb;
  padding-top: 13.4%;
}


.la_note_enchantee_txt {
  color: #3c1218;
  font-family: 'Courgette', cursive;
}


.la_note_enchantee_link {
  color: #3c1218;
  font-family: "Comic Sans MS", sans-serif;
}


.le_chic_a_la_française {
  background-color: #fff5fe;
}


.le_chic_a_la_française_txt {
  font-family: 'Lobster Two', cursive;
  background: -webkit-linear-gradient(top left, #d8852e, #905bfd);
  background: -moz-linear-gradient(top left, #d8852e, #905bfd);
  background: -ms-linear-gradient(top left, #d8852e, #905bfd);
  background: -o-linear-gradient(top left, #d8852e, #905bfd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.le_chic_a_la_française_link {
  color: #c77412;
  font-weight: bold;
}


.Le_delice_des_papilles {
  background-color: #f9f9f9;
}


.Le_delice_des_papilles_txt {
  font-family: 'Dancing Script', cursive;
  background: -webkit-linear-gradient(top left, #0431df, #0887fb);
  background: -moz-linear-gradient(top left, #0431df, #0887fb);
  background: -ms-linear-gradient(top left, #0431df, #0887fb);
  background: -o-linear-gradient(top left, #0431df, #0887fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.Le_delice_des_papilles_link {
  color: #0887fb;
}


.la_palette_du_gout {
  background-color: #fdfffd;
}


.la_palette_du_gout_txt {
  background: -webkit-linear-gradient(top left, #4c9f42, #bfff7e);
  background: -moz-linear-gradient(top left, #4c9f42, #bfff7e);
  background: -ms-linear-gradient(top left, #4c9f42, #bfff7e);
  background: -o-linear-gradient(top left, #4c9f42, #bfff7e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.la_palette_du_gout_link {
  color: #72bf56;
}


.Kaushan_Script {
  font-family: 'Kaushan Script', cursive;
}


.prochainement {
  margin: 100px 250px 150px;
  padding: 20px 0;
  border-radius: 15px;
}


.legal-contact {
color: #fdcb46;
font-size: 2.8rem;
font-family: Arial, sans-serif;
}


/*Héritage*/


.table {
  display: inline-block;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}


.prix {
  font-weight: bold;
}


@media screen and (max-device-width: 1280px) {

  body {
    width: 900px;
  }


  p {
    width: auto;
  }


  td {
    font-size: 2.2rem;
  }


  .prochainement {
    margin: 100px auto 200px;
    width: 60%;
  }

}
